.titleHolder {
	text-align: center;
	position: relative;
	padding: 0 0 10px;
	margin: 0 0 40px;

	&:after {
		transform: translateX(-50%);
		content: "";
		background: #fff;
		position: absolute;
		bottom: 0;
		left: 50%;
		height: 3px;
		width: 100px;
	}

	h1 {
		font-size: 2.7rem;
		margin: 0;
		text-transform: uppercase;
		color: #fff;
		font-weight: 500;
		font-family: "Sedgwick Ave", cursive;
	}

	p {
		color: #bdc3c7;
		font-size: 1rem;
		font-weight: 500;
		letter-spacing: 0.5px;
	}
}

@media only screen and (max-width: 959px) {
	.titleHolder {
		h1 {
			font-size: 2rem;
		}

		p {
			font-size: 0.9rem;
		}
	}
}
