.directMeetInfoBlock {
    .listValueDirectMeet {
        li {
            margin-bottom: 10px;
            
            p {
                font-size: 1.15rem;
            }

        }

    }

    .infoTransfer {
        margin-top: 2rem;
        text-align: center;
        font-size: 1.1rem;
        p {
            margin: 10px;
        }
    }

}