.testimonialContent {
    img {
        width: 100%!important;
        height: auto!important;;
        object-fit: cover!important;
    }

    .MuiAvatar-root {
        margin: auto !important;
        margin-top: 1.1rem!important;
        margin-bottom: 1rem!important;
    }
}