#userServiceBlock {
  min-height: 100vh;
  padding-top: 70px;
  background-image: url("../../images/usernumber.jpeg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 10px 0;
  position: relative;

}
