.userServiceBlock {

  background-image: url("../../images/F3r16Wv.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;

  .userServiceBlockWrapper {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    margin-top: 3rem;

    .titleHolder {
      .title {
          color: #fff!important;
      }
      .subTitle {
          color: #ddd;
      }
      
      &:after {
          background: #fff!important;
      }
    } 

  }

  .serviceFiled {
    text-align: center;
    .MuiInputBase-input {
        &::placeholder {
            color: #fff!important;
        }
    }

    .MuiInputBase-root, .MuiFormLabel-root, .MuiOutlinedInput-notchedOutline, .MuiIconButton-edgeEnd, .MuiIconButton-root  {
        border-color: #fff!important;
        color: #fff!important;
    }

    .navigateBlock {
        margin: 1rem 0;

        a {
            color: #d4d4d4;
            text-decoration: none;
            &:hover {
                color: #fff;
            }
        }

    }
    
    .signInBlock {
        margin-top: 2rem;
    }
}
    

}

